@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

@theme {

  /* ---------- COLORS ---------- */

  --color-bg: #050505;
  --color-surface: #0B0B0B;
  --color-card: #111111;

  --color-border: rgba(255,255,255,.08);

  --color-text: #F8FAFC;
  --color-text-soft: #CBD5E1;
  --color-text-muted: #7C8798;

  /* HOD Blue */

  --color-primary: #0D6EFD;
  --color-primary-hover: #2563EB;
  --color-primary-dark: #0B4FC2;
  --color-primary-soft: #4DA3FF;

  /* Accent */

  --color-white-glass: rgba(255,255,255,.08);
  --color-white-glass-hover: rgba(255,255,255,.14);

  /* Semantic */

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  /* ---------- TYPOGRAPHY ---------- */

  --font-bebas: "Bebas Neue";
  --font-inter: "Inter";
  --font-anton: "Anton";

  /* ---------- SPACING ---------- */

  --container-width: 1280px;
  --section-padding: clamp(6rem,10vw,10rem);
  --navbar-height: 5rem;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  min-width:320px;
  min-height:100vh;

  background:var(--color-bg);
  color:var(--color-text);

  font-family:var(--font-inter);

  overflow-x:hidden;
}